html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: -webkit-gradient(linear, right top, left top, color-stop(36%, #E1E1E1), to(#B6B6B6));
    background: linear-gradient(270deg, #E1E1E1 36%, #B6B6B6 100%);
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#simulator-base {
    width: 90%;
    height: 57.6vw;
    /*    background-image: url(../images/simulator/simulator_bkgw.png);*/
    background-image: url(../images/simulator/background.svg);
    background-repeat: round;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-size: 100% 100%;
}

#controls-left {
    position: relative;
    /*        border: 1px dashed black;*/
    background-repeat: round;
    width: 25.4%;
    height: 76.3875%;
/*    top: 10%;*/
    margin-left: 0.75%;
    border-radius: 4px;
}

#right-panel {
    position: relative;
    /*        border: 1px dashed fuchsia;*/
    /*    background-color: rgba(255, 255, 0, 0.21);*/
    background-repeat: round;
    width: 68.2%;
    height: 84%;
    margin-right: 0.75%;
    top: 0;
    border-radius: 4px;
}

#logos-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -1vw;
    margin-bottom: 2vw;
    margin-top: 3%;
    height: 3vw;
}

#ma-logo {
    position: relative;
    width: 40%;
    height: 100%;
/*    background-color: rgba(255, 0, 0, 0.21);*/
}

#myscope-logo {
    position: relative;
    width: 100%;
    margin-left: 30%;
    height: 100%;
/*    background-color: rgba(195, 216, 230, 0.9);*/
}

#top-instructions {
    position: relative;
    /*    border: 1px dashed red;*/
    background-color: rgba(195, 216, 230, 0.59);
    background-repeat: round;
    width: 96%;
    top: 0.4%;
    height: 8%;
    margin-bottom: 3%;
    background: rgba(49, 49, 49, 0.95);
    border-radius: 8px;
    color: #fff;
    padding: 0 2%;
    font-size: 16px;
    font-weight: 400;
    z-index: 100000;
    -webkit-box-shadow: 0 0 1.5em 0.2em rgba(207, 233, 251, 0.9);
    box-shadow: 0 0 1.5em 0.2em rgba(207, 233, 251, 0.9);
    opacity: 0;
}

#top-instructions-txt {
    text-align: center;
    width: inherit;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    line-height: 1.2;
}

.top-instructions-on {
    -webkit-animation: instructions-on 0.5s cubic-bezier(.47, .32, .81, .42) 0.5s 1 normal forwards;
    animation: instructions-on 0.5s cubic-bezier(.47, .32, .81, .42) 0.5s 1 normal forwards;
}

@-webkit-keyframes instructions-on {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes instructions-on {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.top-btns {
    position: relative;
    /*    border: 1px dashed red;*/
    /*        background-color: rgba(255, 0, 0, 0.21);*/
    background-repeat: round;
    width: 100%;
    height: 9.1%;
    margin-bottom: 3%;
}

#micrograph-wrapper {
    position: relative;
    width: 100%;
    height: 90%;
    border-radius: 4px;
    overflow: hidden;
}

#micrograph {
    /*    position: relative;*/
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#buffer {
    -ms-filter: url('#myblurfilter') brightness(1) contrast(1);
    -webkit-filter: url('#myblurfilter') brightness(1) contrast(1);
    -moz-filter: url('#myblurfilter') brightness(1) contrast(1);
    -o-filter: url('#myblurfilter') brightness(1) contrast(1);
    filter: url('#myblurfilter') brightness(1) contrast(1);
}

.instructionsPanel {
    position: relative;
    top: -90%;
    background-image: url(../images/simulator/SEM/instructions.svg);
    background-repeat: round;
    /*    background-color: rgba(49, 49, 49, 0.8);*/
    width: 100%;
    height: 90%;
    border-radius: 6px;
}

#scalebar-div {
    position: relative;
    top: -10%;
    width: 100%;
    height: 6%;
    color: white;
    font-weight: bold;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

#scalebar {
    width: 1%;
    height: 12%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin-right: 1%;
    margin-left: 2%;
}

#ok-keepWorking {
    position: relative;
    top: 44%;
    left: 38%;
    width: 20%;
    height: 7%;
}

.broken {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 90%;
    border-radius: 6px;
}

.choose-sample {
    position: relative;
    /*    background: rgba(49, 49, 49, 0.95);*/
    border-radius: 6px;
    width: 100%;
    height: 9.1%;
    margin-bottom: 3%;
}

#warning {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btn-reload {
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sample1,
#sample2,
#sample3,
#sample4,
#sample5 {
    width: 19%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top-controls {
    position: relative;
    /*    border: 1px dashed red;*/
    background-repeat: round;
    width: 92%;
    height: 10%;
    left: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 13px;
}

.flex-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3% 3% 2.5%;
    -webkit-box-shadow: inset 26px 26px 2px -15px rgba(63, 62, 62, 0.2), inset -26px -26px 2px -15px rgba(214, 211, 209, 0.8);
    box-shadow: inset 26px 26px 2px -15px rgba(63, 62, 62, 0.2), inset -26px -26px 2px -15px rgba(214, 211, 209, 0.8);
    border-radius: 5px
}

.flex-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.026% 1.026% 0.855%;
    -webkit-box-shadow: inset 26px 26px 2px -15px rgba(63, 62, 62, 0.2), inset -26px -26px 2px -15px rgba(214, 211, 209, 0.8);
    box-shadow: inset 26px 26px 2px -15px rgba(63, 62, 62, 0.2), inset -26px -26px 2px -15px rgba(214, 211, 209, 0.8);
    border-radius: 5px
}

.btn {
    background-image: url(../images/simulator/button.svg);
    background-repeat: round;
    width: 61%;
    /*    height: 24px;*/
    border-radius: 5px;
    border-width: 1px;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /*    margin-right: 3%;*/
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    background-size: 100% 100%;
}

.btn-active {
    background-image: url(../images/simulator/button-on.svg);
    background-repeat: round;
    width: 61%;
    /*    height: 24px;*/
    border-radius: 5px;
    border-width: 1px;
    font-weight: 600;
    color: #eef7fd;
    text-shadow: 2px 2px 2px rgba(207, 233, 251, 0.85);
    border: 0;
    -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75), -1px -2px 1px rgba(255, 255, 255, 0.2), inset 15px 15px 10px -15px rgba(238, 247, 253, 0.6);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75), -1px -2px 1px rgba(255, 255, 255, 0.2), inset 15px 15px 10px -15px rgba(238, 247, 253, 0.6);
    cursor: not-allowed;
    /*    margin-right: 3%;*/
    font-size: 12px;
    background-size: 100% 100%;
}

.btn:active {
    color: #eef7fd;
    opacity: 0.6;
}

#btn-vent {
    width: 39%;
}

#top-controls img {
    width: 6%;
    margin: 0px -5%;
}

#top-controls p:last-child {
    font-size: 10px;
}

.ht-btn {
    background-image: url(../images/simulator/button-ht.svg);
    background-repeat: round;
    width: 10%;
    height: 48%;
    border: 0;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0.5px 5px 5px rgba(0, 0, 0, 0.5), 1px 1px 2px 1px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0.5px 5px 5px rgba(0, 0, 0, 0.5), 1px 1px 2px 1px rgba(0, 0, 0, 0.51);
    cursor: pointer;
    margin-left: -3%;
    background-size: 100% 100%;
}

.ht-btn-active {
    background-image: url(../images/simulator/button-ht-on.svg);
    background-repeat: round;
    border: 0;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(255, 255, 255, 0.75), -1px -2px 1px rgba(207, 233, 251, 0.2), 0px 0.5px 5px 5px rgba(207, 233, 251, 0.7);
    box-shadow: 2px 2px 6px 1px rgba(255, 255, 255, 0.75), -1px -2px 1px rgba(207, 233, 251, 0.2), 0px 0.5px 5px 5px rgba(207, 233, 251, 0.7);
    /*    cursor: not-allowed;*/
    background-size: 100% 100%;
}

#sliders-controls {
    position: relative;
    /*    border: 1px dashed green;*/
    background-repeat: round;
    width: 92%;
    /* height: 46%; */
    left: 4%;
    margin-bottom: 10%;
}

.slider-label {
    margin-top: 6%;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.234;
    text-align: left;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.93);
}

.empty-h {
    width: 50%;
}

#dials-controls-a {
    position: relative;
    /* border: 1px dashed violet; */
    background-repeat: round;
    width: 96%;
    height: 16.625%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: ew-resize;
}

#dials-controls-b {
    position: relative;
    /* border: 1px dashed blue; */
    background-repeat: round;
    width: 96%;
    height: 16.625%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: ew-resize;
}

#dials-controls-c {
    position: relative;
    /* border: 1px dashed blue; */
    background-repeat: round;
    width: 96%;
    height: 16.625%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -6%;
    cursor: ew-resize;
}

.ui-slider-horizontal {
    width: auto;
    height: 4px;
    margin: 5% 3% 0%;
    border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 1px 1px 1px #ffffff, -1px -2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px #ffffff, -1px -2px 1px rgba(0, 0, 0, 0.2);
    background: #222;
}

.ui-slider-handle {
    background-image: url(../images/simulator/slider.svg);
    background-repeat: round;
    width: 2.4vw;
    height: 2.5vw;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    margin-top: -4.6%;
    margin-left: -7%;
    cursor: pointer;
    background-size: 100% 100%;
}

.ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
    border-radius: 2px;
    height: 100%;
    background: #eef7fd;
    -webkit-box-shadow: 0 0 0.3em 0.18em rgba(207, 233, 251, 0.9);
    box-shadow: 0 0 0.3em 0.18em rgba(207, 233, 251, 0.9);
}

.slider-indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 1%;
}

.focus-astigm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 1%;
    /*    margin-top: -5%;*/
    margin-bottom: 2%;
    text-align: center;
    z-index: 0;
}

.ui-slider-handle:focus,
.knob:focus {
    outline: aqua;
}

.knob-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 1%;
    margin-top: -5%;
    margin-bottom: 7%;
    text-align: center;
    z-index: 0;
}

.knob2-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 99%;
    margin-left: -11%;
    margin-top: -5%;
    text-align: center;
    z-index: 0;
}

.knob3-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 97%;
    margin-left: -13%;
    margin-top: -5%;
    margin-bottom: 6%;
    text-align: center;
    z-index: 0;
}

.dot {
    margin-top: 5%;
}

.dot p {
    font-size: 11px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.knob-label {
    font-size: 11px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 0;
}

.knob-base {
    background-image: url(../images/simulator/dial_base.png);
    background-repeat: round;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.knob {
    /*    background-image: url(../images/simulator/dial@2x.png);*/
    background: url(../images/simulator/dial_jog.png);
    background-repeat: round;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 1000;
}

div[id^="led-"] {
    width: 2px;
    height: 7px;
    display: block;
    position: absolute;
    overflow: hidden;
    background-color: #000;
}

.led-brightness {
    top: 47%;
    left: 16.3%;
}

.led-contrast {
    top: 47%;
    left: 49.7%;
}

.led-magnification {
    top: 47%;
    left: 83%;
}

.led-focus-c {
    top: 47%;
    left: 16.3%;
}

.led-astigmatism-x {
    top: 47%;
    left: 66.3%;
}

.led-focus-f {
    top: 47%;
    left: 33.0%;
}

.led-astigmatism-y {
    top: 47%;
    left: 83%;
}

div.activeled {
    background-color: #eef7fd;
    -webkit-box-shadow: 0 0 0.3em 0.08em #cfe9fb;
    box-shadow: 0 0 0.3em 0.08em #cfe9fb;
    -webkit-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
}

div[id^="led-1"] {
    -webkit-transform: rotate(135deg) translate(1500%);
    transform: rotate(135deg) translate(1500%);
}

div[id^="led-2"] {
    -webkit-transform: rotate(150.75deg) translate(1500%);
    transform: rotate(150.75deg) translate(1500%);
}

div[id^="led-3"] {
    -webkit-transform: rotate(166.5deg) translate(1500%);
    transform: rotate(166.5deg) translate(1500%);
}

div[id^="led-4"] {
    -webkit-transform: rotate(182.25deg) translate(1500%);
    transform: rotate(182.25deg) translate(1500%);
}

div[id^="led-5"] {
    -webkit-transform: rotate(198deg) translate(1500%);
    transform: rotate(198deg) translate(1500%);
}

div[id^="led-6"] {
    -webkit-transform: rotate(213.75deg) translate(1500%);
    transform: rotate(213.75deg) translate(1500%);
}

div[id^="led-7"] {
    -webkit-transform: rotate(229.5deg) translate(1500%);
    transform: rotate(229.5deg) translate(1500%);
}

div[id^="led-8"] {
    -webkit-transform: rotate(245.25deg) translate(1500%);
    transform: rotate(245.25deg) translate(1500%);
}

div[id^="led-9"] {
    -webkit-transform: rotate(261deg) translate(1500%);
    transform: rotate(261deg) translate(1500%);
}

div[id^="led-10"] {
    -webkit-transform: rotate(276.75deg) translate(1500%);
    transform: rotate(276.75deg) translate(1500%);
}

div[id^="led-11"] {
    -webkit-transform: rotate(292.5deg) translate(1500%);
    transform: rotate(292.5deg) translate(1500%);
}

div[id^="led-12"] {
    -webkit-transform: rotate(308.25deg) translate(1500%);
    transform: rotate(308.25deg) translate(1500%);
}

div[id^="led-13"] {
    -webkit-transform: rotate(324deg) translate(1500%);
    transform: rotate(324deg) translate(1500%);
}

div[id^="led-14"] {
    -webkit-transform: rotate(339.75deg) translate(1500%);
    transform: rotate(339.75deg) translate(1500%);
}

div[id^="led-15"] {
    -webkit-transform: rotate(355.5deg) translate(1500%);
    transform: rotate(355.5deg) translate(1500%);
}

div[id^="led-16"] {
    -webkit-transform: rotate(371.25deg) translate(1500%);
    transform: rotate(371.25deg) translate(1500%);
}

div[id^="led-17"] {
    -webkit-transform: rotate(387deg) translate(1500%);
    transform: rotate(387deg) translate(1500%);
}

div[id^="led-18"] {
    -webkit-transform: rotate(402.75deg) translate(1500%);
    transform: rotate(402.75deg) translate(1500%);
}

.switch-div {
    font-weight: bolder;
    font-size: 12px;
    margin-top: -1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 2vw;
    top: -0.2vw;
    margin: 0 0.3vw;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: #dedede;
    -webkit-box-shadow: inset 0 0 30px 0 rgb(107, 90, 50), 0 0 6px 0 rgb(255, 255, 255), inset 1px 5px 0px -4px rgba(142, 142, 142, 0.8);
    box-shadow: inset 0 0 30px 0 rgb(107, 90, 50), 0 0 6px 0 rgb(255, 255, 255), inset 1px 5px 0px -4px rgba(142, 142, 142, 0.8);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 2.4vw;
    height: 2.5vw;
    left: -0.2vw;
    top: -0.4vw;
    border-radius: 50%;
    background-image: url(../images/simulator/slider.svg);
    background-repeat: round;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(2.5vw);
    transform: translateX(2.5vw);
}

.btn-se-disabled+span,
[class$="-disabled"] {
    opacity: .35;
    color: graytext;
    cursor: not-allowed;
}

[class$="-disabled"] span {
    cursor: not-allowed;
}


/* ------------- tooltip ----------------------- */

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0 0 1.5em 0.3em rgba(207, 233, 251, 0.9);
}

.ui-tooltip {
    background: rgba(49, 49, 49, 0.95);
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 250px;
    z-index: 100000;
}

.ui-tooltip-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
}

.ui-tooltip-content::after {
    right: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(49, 49, 49, 0.95);
    border-width: 5px;
}


/* ------------- end tooltip ----------------------- */


/*
.any-modal {
    position: fixed;
    padding-top: 50px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 60, 67, 0.74);
    z-index: 100000;
    transition: opacity 260ms cubic-bezier(.15, -0.03, .49, 1.14) 10ms;
}
*/

.example-content {
    position: fixed;
    top: 70px;
    left: 70px;
    background: #FEFEFE;
    border: 1px solid #979797;
    -webkit-box-shadow: -2px 4px 6px 2px rgba(0, 0, 0, 0.58);
    box-shadow: -2px 4px 6px 2px rgba(0, 0, 0, 0.58);
    border-radius: 10px;
    margin: auto;
    width: 60%;
    max-height: 90%;
    padding: 5px;
    overflow-y: hidden;
    cursor: move;
    z-index: 100000;
}

.example-content h2 {
    font-size: 16px;
}

.example-section-top {
    background: #FEFEFE;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    border-bottom: 2px solid #85B2E7;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    padding: 13px 20px;
    z-index: 200;
}

#close-example {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
    z-index: 202;
    -webkit-transition: all 260ms cubic-bezier(.15, -0.03, .49, 1.14) 0s;
    transition: all 260ms cubic-bezier(.15, -0.03, .49, 1.14) 0s;
}

#close-example:hover,
#close-example:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#example-img {
    width: 100%;
}

.menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#example-instruction {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#example-instruction p {
    width: 48%;
    background-color: azure;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}

#show-example {
    color: #e2c522;
    cursor: pointer;
    font-weight: 700;
}

#show-example:hover {
    color: #4990e2;
}

.totally-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
}


/**********************************************/

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}


/**********************************************/

@media screen and (orientation:portrait) {
    #sidenav {
        /*        background-color: orchid;*/
    }
}

@media screen and (orientation:landscape) {
    #sidenav {
        /*        background-color: beige;*/
    }
}

@media only screen and (max-width: 1024px) {
    #simulator-base {
        width: 100%;
        height: 64vw;
    }
    .slider-label {
        margin-top: 5%;
        font-size: 11px;
    }
    .ui-slider-horizontal {
        margin: 3.5% 3% 0%;
    }
    .dot {
        margin-top: 2%;
    }
    .dot p {
        font-size: 10px;
    }
    .btn {
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
    }
    .switch-btn::before {
        margin-top: -0.3%;
        margin-left: -3.5%;
    }
    .switch-btn-active::before {
        margin-top: -0.3%;
        margin-left: 1.9%;
    }
    #btn-se::after {
        left: 13.3%;
    }
}

@media only screen and (max-width: 850px) {
    .btn {
        font-size: 10px;
    }
    .switch-div p {
        margin-top: 3px;
    }
    .switch-btn-active::after,
    .switch-btn::after {
        height: 36%;
        top: 40.5%;
        font-size: 8px;
    }
    .switch-btn::before {
        margin-left: -3.5%;
        margin-top: -3px;
    }
    .switch-btn-active::before {
        margin-left: 1.8%;
    }
}

@media only screen and (max-width: 768px) {
    .btn {
        letter-spacing: -1px;
    }
}

@media only screen and (max-width: 480px) {}